.login-button.black:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #000;
  transition: 0.5s;
}

.login-button.white:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #BE1E2D;
  transition: 0.5s;
}

.login-button.black{
  color: #fff;
  background-color: #000;
}

.login-button.white{
  color: #BE1E2D;
  border-color: #BE1E2D;
  background-color: #fff;
}