.register-button {
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    /* Blue 2 */
    background: #2D9CDB !important;
    /* Gray 6 */
    border: 1px solid #F2F2F2;
    border-radius: 8px;
  
    color: white;
    cursor: pointer;
  }
  
  .register-button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }